html{
	overflow-x: hidden;
}

body {
	font:15px/1.5 Arial, Helvetica, sans-serif;
	background-color: #E7DFDD;
	overflow-x: hidden;
}

.success_green{
    color: #14d310;
}

.error_red{
    color: #ce0606;
}


.nav-style{
	background-color: #212325;
	color: #E7DFDD;
	border-bottom: #B82601 4px solid;
	border-radius: 0;
}

.icon_acceuil{
	height: 55px;
	margin-top: -15px;
}

.logout_btn{
    margin-top: 5px;
}

#barre_meteo{
	background: /*linear-gradient(10deg, rgba(64,177,209,1) 0%,rgba(76,93,201,1) 100%);*/url("fond.jpg") no-repeat fixed;
	background-size: 100%;
	font-family: Tahoma, Geneva, Kalimati, sans-serif;
	width: auto;
	margin-top: -20px;
	padding-bottom: 20px;
	border-bottom: #212325 4px solid;
}



.icon_meteo{
    width: auto;
    height: 100px;
    margin: -5px 0 -5px 0;
}


.icon_tempmin{
    width: auto;
    height: 50px;
    vertical-align: middle;
}



.icon_tempmax{
    width: auto;
    height: 50px;
    vertical-align: middle;
}



.tempaff{
    display:inline-block;
    margin-top: 10px;
    font-size: 15pt;
}

#barre_meteo_principale{
    background: /*linear-gradient(10deg, rgba(64,177,209,1) 0%,rgba(76,93,201,1) 100%);*/url("fondfull.jpg") no-repeat fixed;
	background-size: 100%;
	font-family: Tahoma, Geneva, Kalimati, sans-serif;
	margin-top: -20px;
	padding-bottom: 75px;
	border-bottom: #212325 4px solid;
}

.mini_icon_tempmax{
    width: auto;
    height: 25px;
    vertical-align: middle;
}

.mini_icon_meteo{
    width: auto;
    height: 50px;
    margin: -5px 0 -5px 0;
}

.mini_tempaff{
    display:inline-block;
    margin-top: 10px;
    font-size: 12pt;
}

.hoursforecast{
	border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-image: linear-gradient(0deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
    border-image-slice: 1;
	padding-bottom: 20px;
}


.connection-style{
	background-color: #999999;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #3a3b3d;
	color: #0E0B16;
	border: #202020 4px solid;
}

.inscription-style{
	background-color: #999999;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #3a3b3d;
	color: #0E0B16;
	border: #202020 4px solid;
}

.icon_value{
	width: auto;
	height: 80px;
	float: left;
	margin-left: 100px;
}

.text_value {
    font-family :Impact, Charcoal, sans-serif;
    font-size: 25pt;
}

.box_info_ruche{
    background-color: #60666c;
    color: #E7DFDD;
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 20px;
}

.box_info_error{
    background-color: #60666c;
    color: #E7DFDD;
    border-radius: 50px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 30px;
}

.table_div{
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;

	margin: 20px 0px 20px 20px;
}


.container_pres{
	padding-top: 20px;
}


.icon_pres{
	width: auto;
	height: 150px;
}

table{
	font-size: 16pt;
}



.padding_footer{
	height: 100px;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #E7DFDD;
	background-color: #212325;
	text-align: center;
	border-top: #B82601 4px solid;
}

footer p{
	margin-top: 10px;
}



@media screen and (max-width: 767px){
	.icon_value{
	width: auto;
	height: 80px;
	float: none;
	margin-left: 0px;
	margin-top: 10px;
}
}